{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto totam corrupti molestias itaque corporis vero rerum eum excepturi doloribus error consequatur veritatis aliquam delectus quasi sunt, voluptatibus ullam quo dolore labore et. Distinctio a ea itaque! Obcaecati nulla nam molestias corrupti, officiis facere laborum. Minus aliquid unde deleniti debitis culpa iste quidem, at dicta hic? Accusamus consequatur sequi sunt. Molestias a quas obcaecati. Similique maxime, cumque dolores ab non expedita. Optio harum quaerat dolore sunt culpa magnam, cupiditate aperiam quo rem natus impedit perspiciatis facere delectus repellendus deleniti reprehenderit, incidunt illum velit, hic officiis quidem reiciendis numquam nulla nobis? Asperiores.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}